@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    background: linear-gradient(315deg, #eeeeee 0%, #f5f7fa 74%) fixed;
}

#nav-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    background: #252933;
    opacity: .5;
    transition: all 0.5s ease;
}

#nav-wrapper:hover {
    opacity: 1;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #252934;
}

header {
    background: url("bg.jpg");
    background-size: cover;
    height: 100vh;
}

header h1 div {
    color: #dce8ef;
    font-family: 'Balsamiq Sans', cursive;
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    font-size: 2vw;
}


#about {
    /*background-color: #b8c6db;*/
    /*background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);*/
    /*!*background: red;*!*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

#about h2 {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article > * {
    margin: 1em;
}

#portfolio h2 {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    margin: 1em;
    font-size: 2.5em;
}

.portfolio-div {
    display: flex;
    flex-wrap: wrap;
    /*margin: 2em;*/
    justify-content: center;
    align-items: center;

}

.portfolio-div a {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 2px;
    object-fit: cover;
}

.portfolio-div > a {
    flex: 1 1 100px;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

#contacts > * {
    margin: 1em;
    flex-grow: 1;
}

#contacts .contact-logos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer {
    background: #252933;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

#portfolio > div > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-window {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5em;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 1s linear;
    width: 140px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}

#portfolio > div > div > a:hover + .open-window,
.open-window:hover {
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}


.open-window:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent
    );
    transition: all 650ms;
}

.open-window:hover:before {
    left: 100%;
}

.window {
    position: absolute;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgb(0, 0, 0),
    0.2em 0.2em 1.5em rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 12vh;
    display: none;
    z-index: 4;
    background: linear-gradient(315deg, #eeeeee 0%, #f5f7fa 74%) fixed;
}

.popup-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.popup-div > article {
    flex: 4;
}

.close-btn {
    background-color: #252933FF;
    color: white;
    padding: 3px 6px;
    text-align: center;
    border-radius: 5%;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2px;
}

.close-btn:hover {
    opacity: 1
}


.wide-screen .nav-list a {
    display: block;
    margin: .75rem;
    padding: .25rem;
    color: white;
}
.wide-screen .nav-list a:hover{
    color: tomato;
}

ul a {
    display: block;
    padding: 40px;
    border-right: 1px solid #aaa;
    text-decoration: none;
    font-size: 1.5em;
}

ul {
    clear: both;
    max-height: 0;
    transition: all .2s ease-out;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#nav-wrapper{
    width: fit-content;
}
@media all and (min-width: 801px) {
    .hamburger {
        display: none;
    }

    li {
        float: right;
    }
    li a {
        padding:20px 30px;
    }
    ul,
    nav {
        clear: none;
        float: right;
        max-height: none;
    }
    #nav-wrapper{
        width:100%;
    }

}


.center {
    top: 0px;
    right: 10px;
    position: relative;
    width: 50px;
    float:right;
    margin:0.5rem;
}

.center:before,
.center:after,
.center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

#ham-checkbox{
    display:none;
}

#ham-checkbox:checked ~ #nav-wrapper label .center:before {
    transform: translateY(12px) rotate(135deg);
}
#ham-checkbox:checked ~ #nav-wrapper  label .center:after {
    transform: translateY(-12px) rotate(-135deg);
}
#ham-checkbox:checked ~ #nav-wrapper  label .center div {
    transform: scale(0);
}

#ham-checkbox:checked ~ #nav-wrapper .nav-list {

    max-height:240px;
}


